*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    
.menu-bar  {
    
    
    text-align: center;
    margin-bottom: 10px;
    
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color:black;
    float: right;
    
    

}
.menu-bar ul li{
    
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    opacity: 0.9;
    padding: 15px;
    background-color:black;
    
    

    

    
}

.menu-bar ul li a{
    text-decoration: none;
    color:white;
    

}
.active, .menu-bar ul li:hover{
    background:rgb(85, 84, 84);
    border-radius: 2px;
}


.hello{
   width:28%;
   color: white;
   position: absolute;
   top: 30%;
   left: 25%;
   transform:translate(-50%,-50%);
   text-align: center;
    font-size: 27px;
    
   
   
}


  
body{
    background-image: url("./images/aa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    
    
}

 .mushi{
    width:25%;
    color: white;
    position: absolute;
    top: 45%;
    left: 77%;
    transform:translate(-50%,-50%);
   
     font-size: 16px;
        text-align: left; 
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
    
    
    
} 
.header{

    padding: 30px;
    
   color: white;
   font-size: 55px;
  align-items: center;
  background-image: url('./images/header.jpg');
  opacity: 0.7;
  font-family: Arial, sans-serif;
  text-align: center; 
  color: white; 
  display: flex;
  justify-content: center; 
  align-items: center; 


  
 


    
}
.image{
   
    position: absolute;
    left: 40%;
    top: 36%;
   
    

}
.dennis{

    color: white;

    
    position: absolute;
   font-size: 25px;
    left: 65%;
    top: 63%;
    font-family: cursive;
    



}
.proj{
    position: absolute;
     left: 5%;
     top: 35%;
     
      background-color: white;

}
.y{
    color: white;
   
    position: absolute;
    top: 25%;
    left: 3%;
}
.lav{
    color: white;
    
    position: absolute;
    top: 33%;
    left: 19%;
}
.gal{
    position: absolute;
     left: 4%;
     top: 55%;
    
    
}
.z{
    color: white;
    
    position: absolute;
    top: 55%;
    left: 19%;

}
.spr{
    position: absolute;
    left: 3%;
    top: 70%;
    
  
}
.s{
    color: white;
  
    position: absolute;
    top: 70%;
    left: 19%;
}
.me{
    color: white;
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 22px;
    border: 5px solid white; 
    padding: 20px; 
    text-align: center; 
 
}

.Ame{
    position: absolute;
    left: 52%;
    top: 20%;
    color: white;
    font-size: 30px;
   
}
.mewmew
{
    position: absolute;
    left: 1%;
    top: 0.01%;
    
    
  
    
}
.wow{
    position: absolute;
    left: 7%;
    top: 1.5%;

}

.mew{

    position: absolute;
    left: 1%;
    top: 0.05%;  
}

.sheesh{
    position: absolute;
    left: 18%;
    top: 39%;  
    opacity: 0.6;

}

.data{
    position: absolute;
    top: 2%;
    left: 5%;
    background-color: white;
}

.wow{
    position:absolute;
    top: 15%;
    left: 6%;
  
}

.ddr1{
    position: absolute;
    top: 2%;
    left: 2%;
    
}

.ui{
    position: absolute;
    top: 53%;
    left: 55%;
}
.contact{
    position: absolute;
    top: 20%;
    left: 25%;  
    color:black;
    background-color: rgb(204, 204, 204);
    border-radius: 10px; 
    width: 380px;
    height: 473px;
    opacity: 0.9;

}
.social-media-icons{
    position: absolute;
    top: 60%;
    left: 50%;
   
}

.mao{
    position: absolute;
    top: 50%;
    left: 50%;
}
.mail{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;

}
  .resume{
    position: absolute;
    top: 70%;
    left: 70%;
    border-radius: 50%;
    

  }
   /* Resume Download Button Styling */
   .resume-download {
    text-align: center;
    margin-top: 20px;
}
.resume-download button {
    background-color: #acacac;
    color: rgb(19, 18, 18);
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.resume-download button:hover {
    background-color: #ebf0eb;
}
footer {
    background-color: gray;
    color: white;
    padding: 20px 0;
    text-align: right;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0.5;
}
